
Quero Conhecer/.DS_Store
Quero Conhecer/Quero Conhecer.xcodeproj/xcuserdata/gcmms.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Quero Conhecer/Quero Conhecer.xcodeproj/xcuserdata/gcmms.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
